<h1>Home</h1>

<form class="btn-group" method="post">
    <button type="submit" name="accion" value="guardar" class="btn btn-dark">Guardar datos en Session</button>
    <button type="submit" name="accion" value="borrar" class="btn btn-dark">Borrar datos de Session</button>
</form>